/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #aaa;
}

@media only screen and (min-height: 800px), (min-width: 600px) {
  .contact {
    position: absolute;
    bottom: 0
  }
}

.demo-image {
  position: absolute;
  bottom:0;
  background-color: red;
}

.navbar-fixed {
margin-bottom: -64px;
}

.responsive-map {
  width: 100%;
  height: 500px;
  margin-bottom: -7px;
}

.responsive-map iframe {
  margin-bottom: -5px;
}

.responsive-map-placeholder {
  width: 100%;
  height: 500px;
}

.affix {
  background-color: #f8f8f8;
  opacity: 0.9;
  transition: background .5s ease-in-out, opacity .5s ease;
}

.affix a {
  color: #000;
  transition: color .5s ease-in-out;
}

.landing {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image:url('../landing-background.jpg');
  background-size:cover;
  background-position: center;
}

.transparent-navbar {
  background-color: transparent !important;
  opacity: 1.0;
  transition: background .5s ease-in-out, opacity .5s ease;
}

.transparent-navbar a {
  color: #ffffff;
  transition: color .5s ease-in-out;
}
.side-nav {
  background-color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.test {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* Christmas Overlay */
.christmas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.christmas-overlay-content {
  text-align: center;
  width: 75vw;
}

.size-6 {
  width: 4rem; /* 16px */
  height: 4rem; /* 16px */
}

.flex {
  display: flex
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.uppercase {
  text-transform: uppercase;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.m-8 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.p-4 {
  padding: 1rem;
}


.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.max-w-lg {
  max-width: 32rem;
}

.leading-normal{
  line-height: 1.5;
}